var Config = {};

// DEVELOPMENT ENVIROMENT
Config.development = {
  serverPort: 7777
}

// TEST ENVIROMENT
Config.test = {
  serverPort: 5555
}


module.exports = Config[process.env["NODE_ENV"] || "development"];
