var Config = {};

// DEVELOPMENT ENVIROMENT
Config.defaults = {
  serverPort: 7777,
  mongodb: "mongodb://localhost/nodemocha-project_env"
}


module.exports = Config[process.env["NODE_ENV"] || "development"];
