<h2>Adding Contact</h2>
<form action="/admin/contacts/new" method="post" enctype="multipart/form-data">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" value="">
  </p>
  <p>
    <label for="picture">Select contact Picture</label>
    <input type="file" name="picture" id="picture">
  </p>
  <p>
    <input type="submit" value="Send">
  </p>
</form>
